[submodule "awesome/module/rubato"]
	path = awesome/module/rubato
	url = https://github.com/andOrlando/rubato

[submodule "zsh/extensions/autosuggestions"]
	path = zsh/extensions/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "zsh/extensions/syntax-highlighting"]
	path = zsh/extensions/syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
